#root {
  margin: 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  padding: 1em;
}
